<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kevinwang.dao.BilibiliVideoCommentMapper">

    <resultMap id="BaseResultMap" type="cn.kevinwang.model.dataObject.BilibiliVideoComment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="user_id" column="user_id" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="add_ts" column="add_ts" jdbcType="BIGINT"/>
            <result property="last_modify_ts" column="last_modify_ts" jdbcType="BIGINT"/>
            <result property="comment_id" column="comment_id" jdbcType="VARCHAR"/>
            <result property="video_id" column="video_id" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="BIGINT"/>
            <result property="sub_comment_count" column="sub_comment_count" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,nickname,
        avatar,add_ts,last_modify_ts,
        comment_id,video_id,content,
        create_time,sub_comment_count
    </sql>
</mapper>
