<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kevinwang.dao.KuaishouVideoCommentMapper">

    <resultMap id="BaseResultMap" type="cn.kevinwang.model.dataObject.KuaishouVideoComment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="addTs" column="add_ts" jdbcType="BIGINT"/>
            <result property="lastModifyTs" column="last_modify_ts" jdbcType="BIGINT"/>
            <result property="commentId" column="comment_id" jdbcType="VARCHAR"/>
            <result property="videoId" column="video_id" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="BIGINT"/>
            <result property="subCommentCount" column="sub_comment_count" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,nickname,
        avatar,add_ts,last_modify_ts,
        comment_id,video_id,content,
        create_time,sub_comment_count
    </sql>
    <select id="selectUserInformationByVideoId"
            resultType="cn.kevinwang.model.dataObject.KuaishouVideoComment">
        select user_id,nickname,avatar from kuaishou_video_comment
        <where>
            <if test="videoId != null and videoId != ''">
                video_id = #{videoId}
            </if>
        </where>
    </select>
    <select id="selectVideoIdByCommentId" resultType="java.lang.String">
        select video_id from kuaishou_video_comment
        <where>
            <if test="commentId != null and commentId != ''">
                comment_id = #{commentId}
            </if>
        </where>
    </select>
    <select id="selectCommentByVideoId" resultType="cn.kevinwang.model.dataObject.KuaishouVideoComment">
        select nickname,avatar,comment_id,video_id,content,create_time,sub_comment_count from kuaishou_video_comment ${ew.customSqlSegment}
    </select>
</mapper>
