<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kevinwang.dao.WeiboNoteCommentMapper">

    <resultMap id="BaseResultMap" type="cn.kevinwang.model.dataObject.WeiboNoteComment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="VARCHAR"/>
            <result property="profileUrl" column="profile_url" jdbcType="VARCHAR"/>
            <result property="ipLocation" column="ip_location" jdbcType="VARCHAR"/>
            <result property="addTs" column="add_ts" jdbcType="BIGINT"/>
            <result property="lastModifyTs" column="last_modify_ts" jdbcType="BIGINT"/>
            <result property="commentId" column="comment_id" jdbcType="VARCHAR"/>
            <result property="noteId" column="note_id" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="BIGINT"/>
            <result property="createDateTime" column="create_date_time" jdbcType="VARCHAR"/>
            <result property="commentLikeCount" column="comment_like_count" jdbcType="VARCHAR"/>
            <result property="subCommentCount" column="sub_comment_count" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,nickname,
        avatar,gender,profile_url,
        ip_location,add_ts,last_modify_ts,
        comment_id,note_id,content,
        create_time,create_date_time,comment_like_count,
        sub_comment_count
    </sql>
    <select id="selectUserInformationByNoteId" resultType="cn.kevinwang.model.dataObject.WeiboNoteComment">
        select user_id,nickname,avatar,ip_location,profile_url from weibo_note_comment
        <where>
            <if test="noteId != null and noteId != ''">
                note_id = #{noteId}
            </if>
        </where>
    </select>
    <select id="selectNoteIdByCommentId" resultType="java.lang.String">
        select note_id from weibo_note_comment
        <where>
            <if test="commentId != null and commentId != ''">
                comment_id = #{commentId}
            </if>
        </where>
    </select>
    <select id="selectCommentByVideoId" resultType="cn.kevinwang.model.dataObject.WeiboNoteComment">
        select nickname,avatar,ip_location,profile_url,comment_id,note_id,content,create_time,comment_like_count,sub_comment_count from weibo_note_comment ${ew.customSqlSegment}
    </select>
</mapper>
