<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.WeiboNoteMapper">

    <resultMap id="BaseResultMap" type="generator.domain.WeiboNote">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="user_id" column="user_id" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="VARCHAR"/>
            <result property="profile_url" column="profile_url" jdbcType="VARCHAR"/>
            <result property="ip_location" column="ip_location" jdbcType="VARCHAR"/>
            <result property="add_ts" column="add_ts" jdbcType="BIGINT"/>
            <result property="last_modify_ts" column="last_modify_ts" jdbcType="BIGINT"/>
            <result property="note_id" column="note_id" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="BIGINT"/>
            <result property="create_date_time" column="create_date_time" jdbcType="VARCHAR"/>
            <result property="liked_count" column="liked_count" jdbcType="VARCHAR"/>
            <result property="comments_count" column="comments_count" jdbcType="VARCHAR"/>
            <result property="shared_count" column="shared_count" jdbcType="VARCHAR"/>
            <result property="note_url" column="note_url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,nickname,
        avatar,gender,profile_url,
        ip_location,add_ts,last_modify_ts,
        note_id,content,create_time,
        create_date_time,liked_count,comments_count,
        shared_count,note_url
    </sql>
</mapper>
